<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='css.css'>
    <script src='main.js'></script>

    </script>
    </header>
</head>

<body>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">title</label>
            <input type="text" id="exampleInputEmail1">

        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">year</label>
            <input type="text" id="exampleInputPassword1">
        </div>

        <text id="button">buscar</text>

    </form>
    <script>

        document.getElementById("button").onclick = buscar;
        console.log("Szdsdsds")

        function buscar() {
            let titulo = document.getElementById("exampleInputEmail1").value;
            let year = document.getElementById("exampleInputPassword1").value;



            // window.location.href="listMovies?title=" + titulo + "&year=" + year, true;
            console.log("hola");
            window.location.replace("http://localhost:9090/listMovies?title=" + titulo + "&year=" + year);


        }


    </script>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-image" th:each="movie:${movies}" id="tabla" th:object="${movie}">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">title</th>
                            <th scope="col">poster</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td th:text="*{id}"></td>
                            <td th:href="@{/moviess/*{id}}">
                                <a th:href="@{|/moviess/*{id}|}" th:text="*{title}"></a>
                                <div th:text="*{year} == 2020 ? 'novedad'">novedad 2020</div>
                            </td>
                            <td class="w-25">
                                <img class="info" th:src="@{|/img/*{poster}|}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>

</html>